.icon-store
  height: 26px
  margin-bottom: 3px // compensate design weight

.icon-arrow-left, .icon-arrow-right
  height: 10px
  cursor: pointer

.icon-arrow-right
  transform: rotate(180deg)

.icon-close
  height: 16px