.header-wrapper
  display: flex
  .header-title
    flex: 1 1 auto
    @extend h3
  .header-actions
    flex: 0 0 auto
    display: flex
    align-items: center
    cursor: pointer
    img
      margin-right: 10px