


/** Global */
@import 'global/variables'
@import 'global/fonts'
@import 'global/typography'
@import 'global/icons'

/** Components **/
@import 'components/inputs'
@import 'components/buttons'
@import 'components/header'
@import 'components/footer'

/** Main Styles&Layout */
@import 'styles'